* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.love {
  position: relative;
  width: 200px;
  height: 200px;
  /* 旋转45度 */
  transform: rotate(45deg);
  background-color: crimson;
  animation: love 1s infinite;
}
/* 把after和before两个伪元素一样的属性写到一块 */
.love::after,
.love::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: crimson;
  animation: love1 1s infinite;
}
.love::after {
  top: 0;
  left: -100px;
}
.love::before {
  top: -100px;
  left: 0;
}
/* 下面定义爱心跳动的动画 */
@keyframes love {
  0% {
    width: 200px;
    height: 200px;
  }
  20% {
    width: 229px;
    height: 229px;
    background-color: #ef3953;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
@keyframes love1 {
  0% {
    width: 200px;
    height: 200px;
  }
  20% {
    width: 230px;
    height: 230px;
    background-color: #ef3953;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
