.box {
  width: 200px;
  height: 200px;
  background-color: #bfa;
}
span {
  /* width: 100px;
  height: 100px; */
  padding: 20px;
  margin: 30px;
  border: 6px solid red;
  background-color: yellow;
}
a {
  display: block;
  visibility: visible;
  /* visibility: hidden; */
  /* display: inline-block; */
  /* display: none; */
  width: 100px;
  height: 60px;
  background-color: orange;
}
